<!DOCTYPE html>
<html ng-app="LifestyleTracker">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--font-awesome used for icons such as heart icon and login buttons -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
    <!-- used for css used for the navigation bar -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

    <!-- used for displaying main content swapped in from ejs files -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>

    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers/maincontroller.js"></script>
    <script src="/javascripts/controllers/workoutscontroller.js"></script>
  </head>

  <body>
  <!--Navigation bar-->
    <nav class="navbar navbar-light bg-faded navbar-static-top" style="background-color: mediumpurple" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/" style="color: white;";><i class="fa fa-heart" style="color: red;"></i>  Lifestyle Tracker</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <div class="navbar-right">
            <button type="button" class="btn btn-default navbar-btn btn-success" href="#">
              <i class="fa fa-sign-in"></i>
              Log In
            </button>
            <button type="button" class="btn btn-default navbar-btn btn-primary" href="#">
              <i class="fa fa-pencil-in"></i>
              Register
            </button>
          </div>
          <li><a href="#/" style="color: black";>Home</a></li>
          <li><a href="#workouts" style="color: black";>View User Workouts</a></li>
        </ul>
      </div>
    </nav>

    <!--Main content-->
    <div id="main">
      <div data-ng-view></div>
    </div>

    <footer class="text-center">
      <p>LifeStyle Tracker Footer</p>
    </footer>
  </body>
</html>
