<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>. Here you can keep track of your workouts, your meals and purchase health products!</p>
    <h2>Current Features:</h2>
    <p>
      <li>Add a workout</li>
      <li>Delete a workout</li>
      <li>View all workouts</li>
      <li>View a particular workout</li>
      <li>Update each field of a workout</li>
    </p>
  </body>
</html>
