<!DOCTYPE html>
<html ng-app="LifestyleTracker">
  <head>
    <!-- google client id -->
    <meta name="google-signin-client_id" content="1067797082655-0q0enea900rbk7oonptcb0bet1oi513o.apps.googleusercontent.com">

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--font-awesome used for icons such as heart icon and login buttons -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
    <!-- used for css used for the navigation bar -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

      <!-- bootstrap for the calendar drop down -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <!-- used for displaying main content swapped in from ejs files -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>
    <script src="angular-google-auth2/build/js/angular-google-auth2.js"></script>

    <!-- used for google sign in -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- get jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/controllers/maincontroller.js"></script>
    <script src="/javascripts/controllers/workoutscontroller.js"></script>
    <script src="/javascripts/controllers/profilecontroller.js"></script>
    <script>
      function onSignIn(googleUser){
          angular.element(document.getElementById('mainCtrl')).scope().loggedIn(googleUser);
          angular.element(document.getElementById('mainCtrl')).scope().$apply();
      };

      function signOut(){
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function(){
              console.log('User signed out.');
              angular.element(document.getElementById('mainCtrl')).scope().loggedOut();
              angular.element(document.getElementById('mainCtrl')).scope().useremail = '';
              angular.element(document.getElementById('mainCtrl')).scope().username = '';
              angular.element(document.getElementById('mainCtrl')).scope().googlephoto = './images/runner.jpg';

              angular.element(document.getElementById('mainCtrl')).scope().$apply();
          });
      }
    </script>

  </head>

  <body ng-controller="mainController" id="mainCtrl">
  <!--Navigation bar-->
    <nav class="navbar navbar-light bg-faded navbar-static-top" style="background-color: mediumpurple" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/" style="color: white;";><i class="fa fa-heart" style="color: red;"></i>  Lifestyle Tracker</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <div class="navbar-right">
            <!-- google sign in button -->
            <div class="g-signin2" data-onsuccess="onSignIn"></div>


            <!--<button type="button" class="btn btn-default navbar-btn btn-primary" href="#">
              <i class="fa fa-pencil-in"></i>
              Register
            </button>-->
            <img src ='{{ googlephoto }}' height="60" width="60" class="img-circle" style="padding: 5px">

          </div>

          <li><a href="#/" style="color: black";>Home</a></li>
          <li><a href="#workouts" style="color: black";>View User Workouts</a></li>
          <li><a href="#profile" style="color: black";>User Profile</a></li>
          <li><a href="#" style="color: black"; onclick="signOut()">Sign out</a></li>
        </ul>
      </div>
    </nav>

    <!--Main content-->
    <div id="main">
      <div class="ng-scope" data-ng-view></div>
    </div>

    <footer class="text-center">
      <p>LifeStyle Tracker Footer</p>
    </footer>
  </body>
</html>
