<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Here you can track your lifestyle!</h2>
    <p>
      <li><b>Add a workout</b></li>
      <li><b>Delete a workout</b></li>
      <li><b>View all workouts</b></li>
      <li><b>View a particular workout</b></li>
      <li><b>Update each field of a workout</b></li>
    </p>
  </body>
</html>
