

<div class="jumbotron text-center" ng-controller="workoutsController">
    <!-- <h1>{{ message }}</h1> -->

    <h3>{{ message }}</h3>
    <div class="ng-hide" ng-show="flag">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Enter workout details</h3>
            <form ng-submit="addWorkout()" style="margin-top:30px;">

                <p>* indicates required fields</p>
                <div class="form-group">
                    <label for="workouttype">Workout Type</label>
                    <select ng-model="formData.workouttype" id="workouttype" class="form-control">
                        <option value="cardio">Cardio
                        <option value="weights">Weights
                        <option value="Other">Other
                    </select>
                </div>

                <div class="form-group">
                    <label for="time">Time</label>
                    <input class="form-control" type="time" ng-model="formData.time" placeholder="00:00:PM" id="time">
                </div>
                <div class="form-group">
                    <label for="date">Date *</label>

                    <input class="form-control" ng-model="formData.date" id="date" name="date" placeholder="yyyy-mm-dd" type="date" required="true"/>
                </div>
                <div class="form-group">
                    <label for="duration">Duration (mins)</label>
                    <div class="input-group" id="duration">
                        <input type="number"
                               class="form-control"
                               placeholder="1"
                               ng-model="formData.duration"
                               min="1"> </input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="intensity">Intensity</label>
                    <div class="input-group" id="intensity">
                        <input type="number"
                               class="form-control"
                               placeholder="1"
                               ng-model="formData.intensity"
                               ng-style="{'width': 100 + '%'}"
                               min="1" max="10"> </input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="3" ng-model="formData.description"></textarea>
                </div>

                <div class="button" type="btn btn-success">
                    <input type="submit" value="Save" >
                </div>
            </form>

        </div>
    </div>
</div>