<div class="jumbotron text-center ng-scope">
    <h1>{{ message }}</h1>

    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <p>Home Page for the Lifestyle tracker</p>
            <img src="./images/runner.jpg" height="400px" width="400px">
        </div>
    </div>
</div>

