<div class="jumbotron text-center">
   <!-- <h1>{{ message }}</h1> -->

    <div class="row">
        <div class="col-md-6 col-md-offset-5">

            <div ng-controller="workoutsController as list">
                <table align="center" valign="middle">
                    <tbody ng-repeat="workout in workouts">
                    <tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle"; >

                    <td>
                        <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{workout.workouttype}}</span>
                    </td>
                    <td>
                        {{workout.date}}
                    </td>
                    <td>

                        <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>


                        <button type="button" class="btn btn-default" ng-click="delete(workout._id)">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button>
                        <button type="button" class="btn btn-default" ng-click="editWorkout(workout)">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                        </button>
                        </span>
                    </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="#addworkout" style="color: black";>Add a workout</a>
        </div>
    </div>
</div>